<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
<form action="skills">
  <table border="2">
    <th colspan="2">          <%= sports %>
    </th>
    <ul>
    <tr>
      <td></td><li>golf</li></td>
      <td><a href ="delete1">delete</a></td>
    </tr>
    <tr>
      <td></td><li>track</li></td>
      <td><a href ="delete1">delete</td></td>
    </tr>
    <tr>
      <td></td><li>soccer</li></td>
      <td><a href ="delete1">delete</a></td>
    </tr>
    <tr>
      <td></td><li>boxing</li></td>
      <td><a href ="delete1">delete</a></td>
    </tr>
      <a href="./skills">
        <h2>
        </h2>
      </a>
      
    </ul>
  </table>
</form>
</body>

</html>